APP_NAME=
NODE_ENV=
APP_URL=
APP_PORT=

DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_USERNAME_FILE=
DB_PASSWORD=
DB_PASSWORD_FILE=
DB_LOGGING=

ESIGN_URI=
ESIGN_AUTH_ID=
ESIGN_AUTH_PASSWORD_FILE=
ESIGN_AUTH_PASSWORD=
ESIGN_AUTH_PASSWORD_FILE=

AUTH_BASE_URI=

SERVICE_KEMENKEU_BASE_URI=
SERVICE_KEMENKEU_BASE_URI2=
SERVICE_KEMENKEU_TOKEN_URI=
SERVICE_KEMENKEU_CLIENT_ID=
SERVICE_KEMENKEU_CLIENT_SECRET=
SERVICE_KEMENKEU_GRANT_TYPE=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_ACCESS_KEY_FILE=
MINIO_SECRET_KEY=
MINIO_SECRET_KEY_FILE=
MINIO_BUCKET=

ALIKA_PUSH_NOTIFICATION_URL=
ALIKA_PUSH_NOTIFICATION_URL_INTERNAL=

ALIKA_AUTH_BASE_URI=
ALIKA_AUTH_BASE_URI_INTERNAL=
ALIKA_AUTH_TOKEN_ENDPOINT=
ALIKA_AUTH_AUTHORIZE_ENDPOINT=
ALIKA_AUTH_SCOPE=
ALIKA_AUTH_GRANT_TYPE=
ALIKA_AUTH_CLIENT_ID=
ALIKA_AUTH_CLIENT_ID_FILE=
ALIKA_AUTH_CLIENT_SECRET=
ALIKA_AUTH_CLIENT_SECRET_FILE=
ALIKA_AUTH_ISSUER=